# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
*.xdv
*.lof
*.lot
*.idx
*.ilg
*.ind
*.glo
*.gls
*.ist
*.nlo
*.nls
*.nav
*.snm
*.vrb

# editor / local environment
.vscode/
.DS_Store
